<div class="player-board">
    <div class="left">
        <div>{{heroStatus.heroCard.gameBoxName}}</div>
        <div>Name: {{heroStatus.heroCard.name}}</div>
        <div>Health: {{heroStatus.currentHealth}}</div>
        <div>Attack: {{heroStatus.currentAttackCount}}</div>
        <div>Influence: {{heroStatus.currentInfluenceCount}}</div>
        <div>Draw: {{heroStatus.drawDeckCount}}</div>
        <div>Discard: {{heroStatus.discardPile.length}}</div>
    </div>
    <div class="right">
        <div>Abilities:</div>
        <div class="card-row">
            <app-hogwarts-card *ngFor="let item of heroStatus.cardsInHand" [hogwartsCard]="item"></app-hogwarts-card>
        </div>
    </div>
</div>
