<div class="player-board" [ngClass]="{'active': heroStatus.isActive}">
    <div class="left">
        <div>{{heroStatus.heroCard.gameBoxName}}</div>
        <div>Name: {{heroStatus.heroCard.name}}</div>
        <div>{{heroStatus.currentHealth}} <i class="fas fa-heart"></i></div>
        <div>{{heroStatus.currentAttackCount}} <i class="fas fa-bolt"></i></div>
        <div>{{heroStatus.currentInfluenceCount}} <i class="fas fa-certificate"></i></div>
        <div>Draw: {{heroStatus.drawDeckCount}}</div>
        <div>Discard: {{heroStatus.discardPile.length}}</div>
    </div>
    <div class="right">
        <div>Abilities:</div>
        <div class="card-row">
            <app-hogwarts-card *ngFor="let item of heroStatus.cardsInHand" [hogwartsCard]="item"></app-hogwarts-card>
        </div>
    </div>
</div>
