<div class="player-board">
    <div class="left">
        <div>Name:</div>
        <div>Health:</div>
        <div>Attack:</div>
        <div>Influence:</div>
        <div>Draw:</div>
        <div>Discard:</div>
    </div>
    <div class="right">
        <div>Abilities:</div>
        <div class="card-row">
            <app-hogwarts-card></app-hogwarts-card>
            <app-hogwarts-card></app-hogwarts-card>
            <app-hogwarts-card></app-hogwarts-card>
            <app-hogwarts-card></app-hogwarts-card>
            <app-hogwarts-card></app-hogwarts-card>
        </div>
    </div>
</div>
