.game-board {
    width: 100%;
    border: 2px solid black;
    display: flex;

    .left {
        width: 66%;
        display: flex;
        flex-direction: column;

        .location-row {
            display: flex;
            height: 10em;
        }

        .dark-arts-row {
            display: flex;
            flex-direction: row;
            height: 10em;
        }

        .villain-row {
            display: flex;
            height: 10em;
        }
    }

    .right {
        width: 33%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }
}