<div class="game-board">
    <div class="left">
        <div class="location-row">
            <app-location-card></app-location-card>
            <div>
                <p>Left Dark Arts:</p>
                <p>Left Villains:</p>
            </div>
        </div>
        <div class="dark-arts-row">
            <app-dark-arts-card></app-dark-arts-card>
            <app-dark-arts-card></app-dark-arts-card>
            <app-dark-arts-card></app-dark-arts-card>
        </div>
        <div class="villain-row">
            <app-villain-card></app-villain-card>
            <app-villain-card></app-villain-card>
            <app-villain-card></app-villain-card>
        </div>
    </div>
    <div class="right">
        <div class="row">
            <app-hogwarts-card></app-hogwarts-card>
        </div>
        <div class="row">
            <app-hogwarts-card></app-hogwarts-card>
            <app-hogwarts-card></app-hogwarts-card>
        </div>
        <div class="row">
            <app-hogwarts-card></app-hogwarts-card>
            <app-hogwarts-card></app-hogwarts-card>
        </div>
        <div class="row">
            <app-hogwarts-card></app-hogwarts-card>
            <app-hogwarts-card></app-hogwarts-card>
        </div>
    </div>
</div>
